<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Insert Servers </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <center>
        <h1> Insert the server name </h1>
        <hr/>
    <form method = "post"> 
        {% csrf_token %} 

        Server Name : <input type = "text" placeholder = "enter the server name" name = "sname" required/>

        <input type = "submit" value = "Insert record">

        <!--
        <select name = 'Sname'> 
             
            <option selected disabled = True > --Select Name-- </option>
            <option> chatbot </option>
            <option> mob app </option>
            <option> website </option>
            
        </select>
        -->
    
        {% if messages %}
        {% for x in messages %}
        <h3>{{x}} </h3>
        {% endfor %}
        {% endif %}

    </form>
    </center>
</body>
</html>