{% extends 'generic.html' %}


{% block content %}
        <h2> Exempt - Schedule Server </h2>
        <hr/>
        <br/>

    <form method="POST">
        {% csrf_token%}
        Server Name :
        <select name = 'sername' multiple = "" class = "ui fluid dropdown"> 
            <option selected disabled = True > --Select Name-- </option>
            {% for result in serverobj %}
            <option> {{result.sname}} </option>
            {% endfor %}
        </select>
        
        <br/>
        <br/>
        <br/>

        Schedule Type : 
        <input type="radio" name="choice" value="Schedule Once"> Schedule Once
        <input type="radio" name="choice" value="Schedule for Period"> Schedule for Period
        
        
        <br>
        <br/>
        <button type="button" onclick= "displayRadioValue()">
            Choose 
        </button>
        <br/>
        <br/>
        <hr>

        <p id = "result" </p>
        <br>    
        <br/>
       
        

        <script>

            function displayRadioValue() {
                var ele = document.getElementsByName('choice');
                var output = document.getElementById("result");

                for(i = 0; i < ele.length; i++) 
                {
                    if(ele[i].checked)
                    {    
                        if(ele[i].value == "Schedule Once")
                        {  
                            output.innerHTML = "Date : "+"<input type = 'date' name = 'date' >   Start Time : <input type = 'time' name = 'start' step = '1800' >   Stop Time  : <input type = 'time' name = 'stop' step = '1800' > <br/> <br/> <input type = 'submit' value = 'Insert into schedule record'>";
                        }

                        else
                        {  
                            output.innerHTML = "From : <input type = 'date' name = 'date' >  To : <input type = 'date' name = 'date' > <br/> <br/> Start Time : <input type = 'time' name = 'start' step = '1800' >  Stop Time  : <input type = 'time' name = 'stop' step = '1800' > <br/> <br/> <input type = 'submit' value = 'Insert into schedule record'>";
                        }
                    }  
                }      
            }
        </script>

        <!-- 
        Date  : <input type = "date" name = 'date' > 
        Start Time  : <input type = "time" name = 'start' >
        Stop Time  : <input type = "time" name = 'stop' > 
    
        <input type = "submit" value = "Insert into schedule record">  -->  
        
        {% if messages %}
        {% for x in messages %}
        <h3>{{x}} </h3>
        {% endfor %}
        {% endif %}
        
    </form>
    
    
{% endblock %}
